*{
    font-family:google;
    color: black;
}

@font-face {
    font-family: google;
    src: url(/Meu_Blog/public/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: anime;
    src: url(/Meu_Blog/public/Hakubo\ Free\ Trial.otf);
}

.fundo {
    background-color: #aada86 ;
}

.blur {
    background-image:  url(../public/FundoAnime.jpg);
     filter: opacity(30%); 
     height: 250px;
     background-size: cover;
     background-repeat: no-repeat;
}
