*{
    font-family:google;
    color: black;
}

@font-face {
    font-family: google;
    src: url(/Meu_Blog/public/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: anime;
    src: url(/Meu_Blog/public/Hakubo\ Free\ Trial.otf);
}

.fundo {
    background-color: #eeee ;
}
