@font-face {
    font-family: anime;
    src: url(/Meu_Blog/public/Hakubo\ Free\ Trial.otf);
}
@font-face {
    font-family: artic;
    src: url(/Meu_Blog/public/GoldenHopes_PERSONAL_USE_ONLY.otf);
}
@font-face {
    font-family: filmes;
    src: url(/Meu_Blog/public/BebasNeue-Regular.otf);
}
@font-face {
    font-family: hoobie;
    src: url(/Meu_Blog/public/varsity_regular.ttf);
}
@font-face {
    font-family: food;
    src: url(/Meu_Blog/public/);
}
@font-face {
    font-family: food;
    src: url(/Meu_Blog/public/);
}
@font-face {
    font-family: food;
    src: url(/Meu_Blog/public/);
}
@font-face {
    font-family: food;
    src: url(/Meu_Blog/public/);
}
@font-face {
    font-family: food;
    src: url(/Meu_Blog/public/Quarts\ Pachino\ Demo\ Version.otf);
}
@font-face {
    font-family: food;
    src: url(/Meu_Blog/public/);
}