*{
    font-family:google,roboto;
    color: black;
}

@font-face {
    font-family:roboto ;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

body {
        background: linear-gradient(180deg, #a8ccda,#62a8c4);
}

@font-face {
    font-family: google;
    src: url(/Meu_Blog/public/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: anime;
    src: url(/Meu_Blog/public/Hakubo\ Free\ Trial.otf);
}
@font-face {
    font-family: artic;
    src: url(/Meu_Blog/public/GoldenHopes_PERSONAL_USE_ONLY.otf);
}
@font-face {
    font-family: filmes;
    src: url(/Meu_Blog/public/BebasNeue-Regular.otf);
}
@font-face {
    font-family: hoobie;
    src: url(/Meu_Blog/public/varsity_regular.ttf);
}
@font-face {
    font-family: livro;
    src: url(/Meu_Blog/public/CloisterBlack.ttf);
}
@font-face {
    font-family: viagem;
    src: url(/Meu_Blog/public/KGALittleSwag.ttf);
}
@font-face {
    font-family: music;
    src: url(/Meu_Blog/public/Royalacid_o.ttf);
}
@font-face {
    font-family: prof;
    src: url(/Meu_Blog/public/CourierPrime-Regular.ttf);
}
@font-face {
    font-family: food;
    src: url(/Meu_Blog/public/Quarts\ Pachino\ Demo\ Version.otf);
}
@font-face {
    font-family: roup;
    src: url(/Meu_Blog/public/THE_JACATRA.otf);
}

a {
    text-decoration: none;
}

.espa {
    padding: 60px;
    border-bottom: 2px dashed black;
    
}
.esquerda {
    border-right: 2px dashed black;
    border-bottom: 2px dashed black;
    
}

.titulo {
    border-bottom: 2px dashed black;
}

.anime {
    font-family: anime;
}
.artistas {
    font-family: artic;
}
.filmes {
    font-family: filmes;
}
.hoobies {
    font-family: hoobie;
}
.livros {
    font-family: livro;
}
.lugares {
    font-family: viagem;
}
.musicas {
    font-family: music;
}
.profissao {
    font-family: prof;
}
.receitas {
    font-family: food;
}
.roupas {
    font-family: roup;
}
