*{
    font-family:google,roboto;
    color: black;
}

@font-face {
    font-family:roboto ;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

@font-face {
    font-family: google;
    src: url(/Meu_Blog/public/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: food;
    src: url(/Meu_Blog/public/Quarts\ Pachino\ Demo\ Version.otf)
}

.fundo {
    background-color: #eeee ;
}

h1 {
    font-family: food;
}
