*{
    font-family:google;
    color: black;
}

@font-face {
    font-family: google;
    src: url(/Meu_Blog/public/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: roup;
    src: url(/Meu_Blog/public/THE_JACATRA.otf);
}

.fundo {
    background-color: #eeee ;
}

h1 {
    font-family: roup;
}
